body {
	margin-top: 25px;
	background-color: black;
	text-align: center;
	color: white;

}
h1 {
	font-family: 'Sofia';
	color: rgb(51, 122, 183);
}
.form-control {
	background-color: black;
	margin-top: 15px;
	font-family: 'Oxygen';
}
button {
	margin-top: 15px;
	font-family: 'Oxygen';
}